/*body {
    text-align: center;
    background-color: #F6D8D8;
    color: #888888;
}

h1 {
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}

h3 {
    margin-top: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 50px;
}

button {
    display: block;
    margin: 40px auto;
    text-decoration: none;
    border: none;
    outline: none;
   
    background-color: #E68787;
    
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.datos label {
    display: block;
    margin-bottom: 10px;
}

.datos input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
}

.mascota input[type="radio"] {
    display: flexbox;
    flex-direction: column;
    margin-right: 10px;
 
    
}

.compromiso input[type="radio"] {
    margin-right: 10px;
}


.enviar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }

.enviar input[type="submit"] {
    background-color: #E68787;
  
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 100px 30px 20px;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    body {
        padding: 10px;
    }

    form {
        padding: 10px;
    }

}*/
/*body {
    text-align: center;
    background-color: #F6D8D8;
    color: #888888;
}

h1 {
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}

h3 {
    margin-top: 20px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding: 50px;
}

button {
    display: block;
    margin: 40px auto;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #E68787;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.datos label {
    display: block;
    margin-bottom: 10px;
}

.datos input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
}

/*.mascota input[type="radio"] {
    display: flex;
   justify-content: center;
    
}
.button {
    display: inline-block;
    background-color:#E68787;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .button:hover {
    background-color:#E68787;
  }
  
  .button:checked {
    background-color:#f3a6a6;
  }
  


.compromiso input[type="radio"] {
    margin-right: 10px;
}

.enviar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.enviar input[type="submit"] {
    background-color: #E68787;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 100px 30px 20px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    body {
        padding: 10px;
    }

    form {
        padding: 10px;
    }
}
*/
/* Estilos generales */
body {
    font-family: cursive;
    color: #666;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    padding: 70px;
    background-color: #e6b8b8;
    background-image: url("png/15841841_v935-aum-16\ 1.png");
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos del encabezado */
header {
    margin-bottom: 20px;
}

h1 {
    color: #666;
    font-size: 28px;
    margin: 10px 0;
}

h2 {
    color: #666;
    font-size: 24px;
    margin: 10px 0;
}

h3 {
    color: #666;
    font-size: 20px;
    margin: 10px 0;
}

/* Estilos de los botones */

button {
    display: block;
    margin: 40px auto;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: #e6b8b8;
    color: #666;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilos del formulario */
form {
    margin-bottom: 60px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.74);
}

input[type="submit"] {
    background-color: #e6b8b8;
    border: none;
    color: #666;
    padding: 10px 40px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    margin: 20px 100px 30px 20px;
}

/* Estilos de los contenedores */
.datos,
.mascota,
.compromiso,
.enviar {
    margin-bottom: 50px;
}

.enviar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Estilos del enlace */
a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
    }

    input[type="text"],
    input[type="date"],
    input[type="tel"],
    input[type="email"] {
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 14px;
    }
}